<nav class="top-nav">
    <div class="container">
        <a href="#" data-activates="slide-out" class="button-collapse" materalize-sidenav><i class="mdi-navigation-menu"></i></a>
        <a class="page-title">Drupal Generator</a><br/>
        <a class="page-subtitle">A GUI to generate Drupal 8 module using the Drupal Console project</a>
    </div>
</nav>
<ul id="slide-out" class="side-nav fixed">
    <div class="logo-container">
        <img src="images/logo.png">
    </div>
    <div >
    <ul class="collapsible"  data-collapsible="accordion" materalize-collapsible ng-controller="NavLinksCtrl">
        <li ng-repeat="generator in generators">
            <div class="waves-effect collapsible-header">{{generator.name}}</div>
            <div class="collapsible-body">
                <ul>
                    <li ng-repeat="command in generator.commands" ><a class="waves-effect" href="#module">{{command.name}}</a></li>
                </ul>
            </div>
        </li>
    </ul>
    </div>
</ul>